{% extends 'base.html' %}
{% block content %}

    <div class="container">


        <a href="/new_menu/" class="btn btn-warning" tabindex="-1" role="button" aria-disabled="true">Nowy
            obiad</a>
        <a href="/obiady/" class="btn btn-warning" tabindex="-1" role="button" aria-disabled="true">Lista obiadów</a>
        <a href="/meal_number/" class="btn btn-warning" tabindex="-1" role="button" aria-disabled="true">Liczba
            posiłków</a>
        <a href="invoice" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Przyjęcie
            towaru</a>
        <a href="used" class="btn btn-success" tabindex="-1" role="button" aria-disabled="true">Wydanie
            towaru</a>
        <a href="report" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">Raport
            żywnościowy</a>
        <a href="inv_report" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">Raport
            magazynowy</a>
        <a href="all_products" class="btn btn-danger" tabindex="-1" role="button" aria-disabled="true">
            Produkty</a>
        <a href="product_search" class="btn btn-danger" tabindex="-1" role="button" aria-disabled="true">Wyszukaj
            produkt</a>
        <a href="add_user" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">Dodaj
            użytkownika</a>
        <a href="list_users" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">Użytkownicy</a>
        <a href="/szkola/1" class="btn btn-light" tabindex="-1" role="button" aria-disabled="true">Dane
            Szkoły</a>
        <a href="email" class="btn btn-link" tabindex="-1" role="button" aria-disabled="true">Kontakt</a>


    </div>

<br>
    <p align="center"><img src="static/Kubus_puchatek.jpg" alt="Kubuś Puchatek" width="330" height="330"></p>
{% endblock %}