{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <button type="button" class="btn"><a href="/szkola/1">Dane szkoły</a></button>
        <button type="button" class="btn btn-warning"><a href="all_products">Produkty</a></button>
        <button type="button" class="btn btn-default"><a href="/new_menu/">Nowy obiad</a></button>
        <button type="button" class="btn btn-primary"><a href="invoice">Przyjęcie towaru</a></button>
        <button type="button" class="btn btn-success"><a href="used">Wydanie towaru</a></button>
        <button type="button" class="btn btn-info"><a href="report">Raport żywnościowy</a></button>
        <button type="button" class="btn btn-info"><a href="inv_report">Stan magazynowy</a></button>
        <button type="button" class="btn btn-danger"><a href="product_search">Wyszukaj produkt</a></button>
        <button type="button" class="btn btn-danger"><a href="add_user">Dodaj użytkownika</a></button>
        <button type="button" class="btn btn-danger"><a href="list_users">Użytkownicy</a></button>
        <button type="button" class="btn btn-link"><a href="email">Kontakt</a></button>
    </div>

{% endblock %}