{% extends 'base.html' %}
{% block content %}
    <a href="/"><p align="right">powrót do strony głównej</p></a>

    <p>Wybierz okres dla raportu:</p>
    <form action="{% url 'inv-report' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Szukaj">
    </form>
    <table>
    <tr><th>Produkt</th>  <th>Ilość przyjęta</th> <th>Wartość przyjęta </th> <th>Ilość wydana </th> <th>Wartość wydana</th> <th>Stan ilościowy</th><th>Stan wartościowy</th></tr>
    {% for x in result %}
        <tr><td>{{ x.product }}</td> <td>{{ x.quant_in }} </td> <td>{{ x.value_in }} </td><td>{{ x.quant_out }}</td> <td> {{ x.value_out }}</td><td>{{ x.quant_saldo }}</td><td>{{ x.value_saldo }}</td></tr>
    {% endfor %}
    <tr><td>Podsumowanie</td> <td>{{ quant_total_in }}</td>  <td>{{ value_total_in }}</td>   <td>{{ quant_total_out }}</td> <td>{{ value_total_out }}</td><td>{{ quant_total_saldo }}</td><td>{{ value_total_saldo }}</td></tr>
    </table>


{% endblock %}