{% extends 'base.html' %}

{% block content %}
    <a href="/"><p align="right">powrót do strony głównej</p></a>
    <h4>Nazwa produktu:</h4> <h1><p align="center">{{ product.name }}</p></h1>

    <li><b>Jednostka miary:</b> {{ product.get_unit_display |default_if_none:"Brak jednostki miary (edytuj produkt, aby dopisać wartość)" }}</li><br/>

    <h4>Wartości odżywcze (w 100g):</h4><br/>
    <li><b>Liczba kalorii:</b> {{ product.calories |default_if_none:"Brak wartości (edytuj produkt, aby dopisać wartość)" }}
    </li>
    <li><b>Białko:</b> {{ product.protein |default_if_none:"Brak wartości (edytuj produkt, aby dopisać wartość)" }} g</li>
    <li><b>Tłuszcze ogółem:</b> {{ product.fat |default_if_none:"Brak wartości (edytuj produkt, aby dopisać wartość)" }} g</li>
    <li><b>Węglowodany:</b> {{ product.carbo |default_if_none:"Brak wartości (edytuj produkt, aby dopisać wartość)" }} g</li>
    <li><b>Wapń:</b> {{ product.calcium |default_if_none:"Brak wartości (edytuj produkt, aby dopisać wartość)" }} mg</li>
    <li><b>Żelazo:</b> {{ product.iron |default_if_none:"Brak wartości (edytuj produkt, aby dopisać wartość)" }} mg</li>
    <li><b>Wiamina A:</b> {{ product.vit_A |default_if_none:"Brak wartości (edytuj produkt, aby dopisać wartość)" }} j.m.</li>
    <li><b>Witamina B1:</b> {{ product.vit_B1 |default_if_none:"Brak wartości (edytuj produkt, aby dopisać wartość)" }} mg</li>
    <li><b>Witamina B2:</b> {{ product.vit_B2 |default_if_none:"Brak wartości (edytuj produkt, aby dopisać wartość)" }} mg</li>
    <li><b>Witamina C:</b> {{ product.vit_C |default_if_none:"Brak wartości (edytuj produkt, aby dopisać wartość)" }} mg</li>
    <li><b>Grupa produktowa:</b> {{ product.get_group_display |default_if_none:"Brak wartości (edytuj produkt, aby dopisać wartość)" }}</li>


    <a href="{% url 'edit-product' product.pk %}">Edycja</a>
{% endblock %}