{% extends 'base.html' %}
{% block content %}
    <a href="/"><p align="right">powrót do strony głównej</p></a>

    <p>Wybierz okres dla raportu:</p>
    <form action="{% url 'report' %}" method="post">

        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Szukaj">
    </form>

    <p>Produkt | Ilość | Wartość</p>
    {% for x in result %}
        <li>{{ x.product }} | {{ x.quant }} | {{ x.value }}</li>
    {% endfor %}

    <p>Podsumowanie: {{ quant_total }} | {{ value_total }}</p>

    <p>Wartości odżywcze w posiłku:</p>
    <ul>
        <li><b>Kalorie:</b> {{ calories }} kcal | Real zapotrz.: <b>{{ cal_real }} %</b></li>
        <li><b>Białko:</b> {{ proteins }} g | Real zapotrz.: <b>{{ prot_real }} %</b></li>
        <li><b>Węglowodany:</b> {{ carbo }} g | Real zapotrz.: <b>{{ carbo_real }} %</b></li>
        <li><b>Wapń:</b> {{ calcium }} mg | Real zapotrz.: <b>{{ calcium_real }} %</b></li>
        <li><b>Żelazo:</b> {{ iron }} mg | Real zapotrz.: <b>{{ iron_real }} %</b></li>
        <li><b>Witamina A:</b> {{ vit_A }} j.m. | Real zapotrz.: <b>{{ vit_A_real }} %</b></li>
        <li><b>Witamina B1:</b> {{ vit_B1 }} mg | Real zapotrz.: <b>{{ vit_B1_real }} %</b></li>
        <li><b>Witamina B2:</b> {{ vit_B2 }} mg | Real zapotrz.: <b>{{ vit_B2_real }} %</b></li>
        <li><b>Witamina C:</b> {{ vit_C }} mg | Real zapotrz.: <b>{{ vit_C_real }} %</b></li>
    </ul>


{% endblock %}